# Spark 101

In [3]:
import pyspark
spark = pyspark.sql.SparkSession.builder.getOrCreate()

import pandas as pd
import numpy as np

## Exercise 1:
Within your codeup-data-science directory, create a new repo named spark-exercises. This will be where you do your work for this module. Create a repository on GitHub with the same name, and link your local repository to GitHub.

Save this work in your spark-exercises repo. Then add, commit, and push your changes.

Create a jupyter notebook or python script named spark101 for this exercise.

Create a spark data frame that contains your favorite programming languages.

Create a dataframe with one column named language

Hint: Start with a pandas dataframe. Maybe use a dictionary?
View the schema of the dataframe
Output the shape of the dataframe
Show the first 5 records in the dataframe

In [14]:
np.random.seed(123)
pandas_dataframe = pd.DataFrame(
    dict(language=['english','chicken','python','java','java_script']))
pandas_dataframe

      language
0      english
1      chicken
2       python
3         java
4  java_script

In [15]:
df = spark.createDataFrame(pandas_dataframe)
df.show(5)

+-----------+
|   language|
+-----------+
|    english|
|    chicken|
|     python|
|       java|
|java_script|
+-----------+

In [9]:
df.describe().show()

+-------+--------+
|summary|language|
+-------+--------+
|  count|      20|
|   mean|    null|
| stddev|    null|
|    min|       h|
|    max|       y|
+-------+--------+

In [12]:
print("DataFrame shape: ", df.count(), " x ", len(df.columns))

DataFrame shape:  20  x  1

In [17]:
df.printSchema()

root
 |-- language: string (nullable = true)

# Exercise 2:
Load the mpg dataset as a spark dataframe.
a. Create 1 column of output that contains a message like the one below for each record:
The 1999 audi a4 has a 4 cylinder engine.
Hint: You will need to concatenate values that already exist in the data with string literals
b. Transform the trans column so that it only contains either manual or auto.
Hint: Consider spark string methods and when().otherwise() chaining

In [20]:
import pyspark
spark = pyspark.sql.SparkSession.builder.getOrCreate()

import pandas as pd
import numpy as np

from pydataset import data

mpg = spark.createDataFrame(data("mpg"))
mpg.show(5)

+------------+-----+-----+----+---+----------+---+---+---+---+-------+
|manufacturer|model|displ|year|cyl|     trans|drv|cty|hwy| fl|  class|
+------------+-----+-----+----+---+----------+---+---+---+---+-------+
|        audi|   a4|  1.8|1999|  4|  auto(l5)|  f| 18| 29|  p|compact|
|        audi|   a4|  1.8|1999|  4|manual(m5)|  f| 21| 29|  p|compact|
|        audi|   a4|  2.0|2008|  4|manual(m6)|  f| 20| 31|  p|compact|
|        audi|   a4|  2.0|2008|  4|  auto(av)|  f| 21| 30|  p|compact|
|        audi|   a4|  2.8|1999|  6|  auto(l5)|  f| 16| 26|  p|compact|
+------------+-----+-----+----+---+----------+---+---+---+---+-------+
only showing top 5 rows

In [21]:
mpg.createOrReplaceTempView("mpg")

### a. Create 1 column of output that contains a message like the one below for each record:
The 1999 audi a4 has a 4 cylinder engine.

In [23]:
spark.sql(
    """
SELECT hwy, cty, (hwy + cty) / 2 AS avg
FROM mpg
"""
).show(5)

+---+---+----+
|hwy|cty| avg|
+---+---+----+
| 29| 18|23.5|
| 29| 21|25.0|
| 31| 20|25.5|
| 30| 21|25.5|
| 26| 16|21.0|
+---+---+----+
only showing top 5 rows

In [63]:
# Note: The pyspark avg and mean functions are aliases of eachother
from pyspark.sql.functions import concat, sum, avg, min, max, count, mean
from pyspark.sql.functions import lit
from pyspark.sql.functions import regexp_extract, regexp_replace
from pyspark.sql.functions import when

In [70]:
mpg.select(concat(lit('The '), 
                  mpg.year,
                  lit(' '),
                  mpg.manufacturer,
                  lit(' '),
                  mpg.model,
                  lit(' '),
                 lit('has a '),
                 mpg.cyl,
                 lit(' cylinder egine.'),)).alias('message').show(5, truncate=False)

+-------------------------------------------------------------------------------+
|concat(The , year,  , manufacturer,  , model,  , has a , cyl,  cylinder egine.)|
+-------------------------------------------------------------------------------+
|The 1999 audi a4 has a 4 cylinder egine.                                       |
|The 1999 audi a4 has a 4 cylinder egine.                                       |
|The 2008 audi a4 has a 4 cylinder egine.                                       |
|The 2008 audi a4 has a 4 cylinder egine.                                       |
|The 1999 audi a4 has a 6 cylinder egine.                                       |
+-------------------------------------------------------------------------------+
only showing top 5 rows

## b. Transform the trans column so that it only contains either manual or auto.
Hint: Consider spark string methods and when().otherwise() chaining

In [55]:
mpg.show(5)

+------------+-----+-----+----+---+----------+---+---+---+---+-------+
|manufacturer|model|displ|year|cyl|     trans|drv|cty|hwy| fl|  class|
+------------+-----+-----+----+---+----------+---+---+---+---+-------+
|        audi|   a4|  1.8|1999|  4|  auto(l5)|  f| 18| 29|  p|compact|
|        audi|   a4|  1.8|1999|  4|manual(m5)|  f| 21| 29|  p|compact|
|        audi|   a4|  2.0|2008|  4|manual(m6)|  f| 20| 31|  p|compact|
|        audi|   a4|  2.0|2008|  4|  auto(av)|  f| 21| 30|  p|compact|
|        audi|   a4|  2.8|1999|  6|  auto(l5)|  f| 16| 26|  p|compact|
+------------+-----+-----+----+---+----------+---+---+---+---+-------+
only showing top 5 rows

In [62]:
mpg.select(mpg.trans, when(mpg.trans.like('auto%'), 'auto')).show(5)

SyntaxError: invalid syntax (<ipython-input-62-d90b898eb4d8>, line 2)

In [ ]:
when(
        mpg.trans.like("auto%"), "auto”).otherwise…